.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: rgb(5 60 9 / 29%) 0px 0px 0px 2px;
  color: #000;
  font-size: 24px;
  padding: 1rem;
  width: fit-content;
  max-width: 90%;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.modal-close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #568203;
}

.modal-close-button:hover {
  color: #1e4d32;
}
