.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: rgb(187, 245, 193);
  border-radius: 10px;
  box-shadow: rgb(5, 60, 9) 0px 0px 0px 2px;
  color: #000;
  font-size: 24px;
  padding: 20px 50px;
  width: fit-content;
  max-width: 90%;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.modal-close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #2c6e49; /* Vert foncé */
}

.modal-close-button:hover {
  color: #1e4d32; /* Vert plus foncé */
}

.modal-body {
  color: #2c6e49; /* Texte en vert foncé */
}
